.createNote {
    display: flex;
    justify-content: center;
}

.createNote > form{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
    border: 1px solid lightgrey;
    border-radius:16px;
    margin: 20px auto;
}

.createNote > form > input {
    outline: none;
    border:none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 1px solid lightgrey;
    height: 46px;
    width: 600px;
    font-weight: bolder;
    font-size:18px;
    padding: 10px;
}

.createNote > form > textarea {
    outline: none;
    border: none;
    font-weight: normal;
    font-size:18px;
    padding: 10px;
}