.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px !important;
    margin-top:230px;
    color: #606060;
    position: sticky;
    background: #f9f9f9;
    z-index: 50;
    bottom: 0;
}

.footer > p:hover {
    color: black;
    cursor: pointer;
}

.footer > .timeGiver{
    cursor: default;
}