.formComponent {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 8%;
}

.formComponent > form {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
}

.formComponent > form > .inputDivs {
    display: flex;
    align-items: center;
}

.formComponent > form > .inputDivs > .inputIcons {
    color: #606060;
}

.formComponent > form > .inputDivs > input {
    margin: 10px;
    font-size: medium;
    font-weight: normal;
    padding: 15px;
    width: 350px;
    outline-color: #3F51B5;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.formComponent > form > .btn {
    margin: 10px;
}