.header{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 0 0 10px;
    margin: -8px;
    position: sticky;
    color: #606060;
    top: 0;
    z-index: 100;
    background:white;
    justify-content: space-between;
}

.header > .header_left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header > .header_left > img {
    height: 35px;
    margin-left: 15px;
    margin-right: 5px;
}

.header > .header_right {
    display: flex;
    align-items: center;
    font-size: 10px;
    /* padding-right: 20px; */
}

.header > .header_right > .header_right_icons {
    margin-right: 20px;
    color: #767676;
    cursor: pointer;
}

hr {
    height:1px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightgrey;
}