.header {
    display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #FFFFFF;
    border-bottom: 1px solid lightgrey;
}

.header > h2 > span {
    color:#4285F4;
    font-weight: bolder;
    font-size:30px;
}