tr:hover {
    background: #EEEEEE;
}

tr > td{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: large;
    font-weight: normal;
    border-top: 1px solid lightgrey;
}

tr > td > img {
    height: 40px;
    width: 40px;
}
